<template>
  <el-row :gutter="18">
    <el-col :span="11" :offset="7">
      <div class="grid-content bg-purple align-form">
        <el-form ref="userform" :model="user" :rules="rules">
          <el-form-item label="Username" prop="username">
            <el-input v-model="user.username"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input v-model="user.password" type="password"></el-input>
          </el-form-item>
          <div class="align-button">
            <el-form-item>
              <el-button type="primary" @click="submitForm('userform')"
                >Iniciar Sesión</el-button
              >
            </el-form-item>
          </div>
        </el-form>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import axios from "axios";
export default {
  name: "logIng",

  data: function () {
    return {
      is_auth: false,
      user: {
        username: "",
        password: "",
      },
      rules: {
        username: [
          {
            required: true,
            message: "El nombre de usuario es obligatorio",
            trigger: "blur",
          },
        ],
        password: [
          {
            required: true,
            message: "La contraseña es obligatoria",
            trigger: "blur",
          },
        ],
      },
    };
  },

  components: {},

  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.processLogInUser();
        }
      });
    },
    processLogInUser: async function () {
      axios
        .post("https://app4p51.herokuapp.com/login/", this.user, {
          headers: {},
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description:
              "No se pudo iniciar sesión por favor verifique sus credenciales",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },
  },

  created: function () {},
};
</script>

<style >
.align-button {
  text-align: center;
}
.align-form > form {
  padding: 5% 5% 0%;
}
</style>
