<template>
  <el-row>
    <el-col :span="24">
      <div class="close-model">
        <p>
          <icon :icon="['fas', 'times-circle']" @click="closeModal()" />
        </p>
      </div>
      <el-scrollbar max-height="400px" class="separeted-colums">
        <el-form
          ref="language"
          :model="language"
          :rules="rules"
          :label-position="labelPosition"
          label-width="120px"
        >

          <el-form-item label="lengua" prop="Name">
            <el-input v-model="name.Language"></el-input>
          </el-form-item>

          <el-form-item label="lengua" prop="Name">
            <el-input v-model="description.Language"></el-input>
          </el-form-item>

          <el-form-item label="lengua" prop="Name">
            <el-input v-model="numberSpeaker.Language"></el-input>
          </el-form-item>          


          <el-form-item>
            <el-button type="primary" @click="submitForm('language')">{{
              option
            }}</el-button>
            <el-button @click="resetForm('language')">Reset</el-button> 
          </el-form-item>
        </el-form>
      </el-scrollbar>
    </el-col>
  </el-row>
</template>

<script >
import axios from "axios";
import jwt_decode from "jwt-decode";
export default {
  name: "createLanguage",
  emits: ["hidenModalLanguage", "refreshLocalToken"],
  props: {
    idLanguage: String,
  },
  data() {
    return {
      token: localStorage.getItem("token_access"),
      language: {
        id: 0,
        Name: "",
        description: "",
        numberSpeaker: "0",
      },
      rules: {
        Name: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            max: 30,
            message: "no puede superar los 30 caracteres",
            trigger: "blur",
          },
        ],
        description: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            max: 300,
            message: "no puede superar los 300 caracteres",
            trigger: "blur",
          },
        ],
        numberSpeaker: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
        ]  
      },
      listTribe: [],
      listWord_type: [],
      labelPosition: "right",
      option: "Crear",
    };
  },
  methods: {

    //CREANDO NUEVA ENTRADA DE LENGUA <<<<

    submitForm: async function (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.word.user_responsible = jwt_decode(
            this.token
          ).user_id.toString();
          this.option == "Crear" ? this.createNewLanguage() : this.UpdateLanguage();
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    closeModal: function () {
      this.$emit("hidenModalLanguage");
    },

    createNewWord: async function () {
      await axios
        .post(`https://app4p51.herokuapp.com/language/`, this.language, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          const alertData = {
            type: "succcess",
            description: "la lengua fue ingresada con éxito",
          };
          this.$emit("createUserComplete", alertData);
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No se ha podido ingresar la lengua",
          };
          this.$emit("createUserComplete", alertData);
        });
    },

    //BUSCANDO ENTRADA DE LENGUA <<<<

    findWord: async function () {
      await axios
        .get(`https://app4p51.herokuapp.com/language/${this.idLanguage}`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
            this.language.id = result.data.id.toString();
              this.language.name = result.data.name.toString();
              this.language.description = result.data.description.toString();
              this.language.numberSpeaker = result.data.numberSpeaker.toString();
              this.language.creation_date = result.data.creation_date.toString();
              this.language.last_modification = result.data.last_modification.toString();

        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "Error encontrando la lengua",
          };
          this.$emit("createUserComplete", alertData);
        });
    },

    //ACTUALIZANDO INFORMACIÓN DE ENTRADA DE LENGUA <<<<

    UpdateWord: async function () {
      await axios
        .put(
          `https://app4p51.herokuapp.com/language/${this.idLanguage}`,
          this.language,
          {
            headers: { Authorization: `Bearer ${this.token}` },
          }
        )
        .then((result) => {
          const alertData = {
            type: "success",
            description: "Lengua actualizada",
          };
          this.$emit("createUserComplete", alertData);
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "Error encontrando la lengua",
          };
          this.$emit("createUserComplete", alertData);
        });
    },

    //OBTIENE TODAS LAS ENTRADAS DE LENGUA <<<<

    getAllTribes: async function () {
      await axios
        .get(`https://app4p51.herokuapp.com/language/`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          this.listLanguage = result.data;
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No se ha podido cargar ninguna lengua",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },
  },
  created: function () {
    this.$emit("refreshLocalToken");
    this.getAllLanguage();

    if (this.idLanguage != "0") {
      this.findLanguage();
      this.option = "modificar";
    }
  },
};
</script>


<style >
.close-model {
  text-align: end;
  font-size: 15px;
}
</style>