<template>
  <el-scrollbar>
    <div id="modalWord">
      <el-popover
        v-model:visible="renderComponent"
        placement="bottom"
        :width="700"
        trigger="manual"
      >
        <template #reference>
          <div class="button-class">
            <div>
              <el-button type="primary" plain v-on:click="showModalLanguage()">
                <icon :icon="['fas', 'plus-circle']" /> Crear</el-button
              >
            </div>
          </div>
        </template>

        <create-language
          v-if="renderComponent"
          :idLanguage="idLanguage"
          @createUserComplete="createUserComplete"
          @hidenModalLanguage="hidenModalLanguage"
        ></create-language>
      </el-popover>
    </div>
    <el-table
      class="table-highlight-title"
      :data="
        tableData.filter(
          (data) =>
            !search || data.Word.toLowerCase().includes(search.toLowerCase())
        )
      "
      >{{ tableData }}
      <el-table-column fixed label="Lenguas" prop="Language" />
      <el-table-column label="Descripción" prop="language.description" />
      <el-table-column label="Numero de Hablantes" prop="language.numberSpeaker" />
      <el-table-column fixed="right" label="Acciones" align="left">
         <template #header>
          <el-input v-model="search" size="mini" placeholder="Type to search" />
        </template>
        <template #default="scope">
          <span>
            <el-button type="primary" circle @click="updateLanguage(scope.row)"
            ><icon :icon="['fas', 'edit']"
          />
          </el-button>
          </span>
          <span>
          <el-button
            type="danger"
            circle
            @click="confirmDelete(scope.$index, tableData)"
          >
            <icon :icon="['fas', 'trash-alt']" />
          </el-button>
          </span>
        </template>
      </el-table-column>
    </el-table>
  </el-scrollbar>
</template>

<script>
import createLanguage from "./createLanguage.vue";
import axios from "axios";
import { ElMessageBox, ElMessage } from "element-plus";
export default {
  name: "languageContent", 

  data: function () {
    return {
      tableData: [],
      search: "",
      renderComponent: false,
      idWord: "0",
      token: ""
    };
  },

  components: {
    createLanguage: createLanguage,
  },

  methods: {
    listAllLanguage: async function () {
      this.tableData = [];
      await axios

        // accede a los campos de lenguas 
        .get(`https://app4p51.herokuapp.com/language/`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          result.data.forEach((element) => {
            this.tableData.push(element);
          });
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No pudo cargar ninguna lengua",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },

    refreshLocalToken: async function () {
      this.$emit("refreshToken");
    },
    createUserComplete: function (alert) {
      this.showMessageAlert(alert);
      this.listAllLanguage();
      this.hidenModalLanguage();
    },
    updateLanguage: async function (row) {
      this.idLanguage = row.id.toString();
      this.renderComponent = true;
    },
    hidenModalLanguage: function () {
      this.renderComponent = false;
      this.idLanguage = "0"
    },
    showModalLanguage: function () {
      this.renderComponent = true;
      this.refreshLocalToken();
    },
    showMessageAlert(alert) {
      if (alert.type == "error") {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "error",
        });
      } else {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "success",
        });
      }
    },
    confirmDelete: function (register, table) {
      console.log(register, table);
      ElMessageBox.confirm("¿Desea eliminar una lengua?", "Eliminar registro", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        type: "error",
      }).then(() => {
        this.DeleteLanguage(register, table );
        
      });
    },
    DeleteLanguage: async function (register, table) {
      await axios
        .delete(`https://app4p51.herokuapp.com/language/${table[register].id}`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          const alertData = {
            type: "success",
            description: "lengua eliminada",
          };
          this.showMessageAlert(alertData);
          table.splice(register, 1);
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No pudó ser posible eliminar la lengua",
          };
          this.showMessageAlert(alertData);
        });
    },
  },

  created: async function () {
    this.refreshLocalToken();
    this.token = localStorage.getItem("token_access");
    this.listAllLanguage();
  },
};
</script>

<style>
.el-col {
  border-radius: 4px;
}

.bg-purple {
  background: #dae0e6;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
  height: 100%;
  padding: 1%;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}
.separeted-colums {
  padding: 2%;
}
.button-class {
  text-align: end;
  padding-bottom: 0.5%;
  display: inline;
}

</style>