<template>
  <el-row>
    <el-col :span="24">
      <div class="close-model">
        <p>
          <icon :icon="['fas', 'times-circle']" @click="closeModal()" />
        </p>
      </div>
      <el-scrollbar max-height="400px" class="separeted-colums">
        <el-form
          ref="word"
          :model="word"
          :rules="rules"
          :label-position="labelPosition"
          label-width="120px"
        >
          <el-form-item label="Tribu" prop="tribe">
            <el-select
              v-model="word.tribe"
              placeholder="tribu"
              :popper-append-to-body="false"
            >
              <el-option label="Selecione uno" value="0"></el-option>
              <el-option
                v-for="item in listTribe"
                :key="item.id"
                :label="item.name"
                :value="item.id.toString()"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Palabra" prop="Word">
            <el-input v-model="word.Word"></el-input>
          </el-form-item>

          <el-form-item label="Tipo de palabra" prop="word_type">
            <el-select
              v-model="word.word_type"
              placeholder="Tipo de palabra"
              :popper-append-to-body="false"
            >
              <el-option label="Selecione uno" value="0"></el-option>
              <el-option
                v-for="item in listWord_type"
                :key="item.id"
                :label="item.name"
                :value="item.id.toString()"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Morfo" prop="morfo">
            <el-input v-model="word.morfo"></el-input>
          </el-form-item>
          <el-form-item label="morfema" prop="morfema">
            <el-input v-model="word.morfema"></el-input>
          </el-form-item>
          <el-form-item label="traducción" prop="translation">
            <el-input v-model="word.translation"></el-input>
          </el-form-item>

          <el-form-item label="traducción lexica" prop="lexical_translation">
            <el-input
              v-model="word.lexical_translation"
              type="textarea"
            ></el-input>
          </el-form-item>
          <el-form-item label="observación" prop="observations">
            <el-input v-model="word.observations" type="textarea"></el-input>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="submitForm('word')">{{
              option
            }}</el-button>
            <el-button @click="resetForm('word')">Reset</el-button> 
          </el-form-item>
        </el-form>
      </el-scrollbar>
    </el-col>
  </el-row>
</template>

<script >
import axios from "axios";
import jwt_decode from "jwt-decode";
export default {
  name: "createWord",
  emits: ["hidenModalWord", "refreshLocalToken"],
  props: {
    idWord: String,
  },
  data() {
    return {
      token: localStorage.getItem("token_access"),
      word: {
        id: 0,
        tribe: "0",
        Word: "",
        word_type: "0",
        morfo: "",
        morfema: "",
        translation: "",
        lexical_translation: "",
        observations: "",
        user_responsible: "",
      },
      rules: {
        Word: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            max: 30,
            message: "no puede superar los 30 caracteres",
            trigger: "blur",
          },
        ],
        tribe: [
          {
            min: 1,
            message: "seleccione una tribu",
            trigger: "blur",
          },
        ],
        word_type: [
          {
            min: 1,
            message: "seleccione un tipo de palabra",
            trigger: "blur",
          },
        ],
        morfo: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            
            max: 100,
            message: "no puede superar los 100 caracteres",
            trigger: "blur",
          },
        ],
        morfema: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            max: 100,
            message: "no puede superar los 100 caracteres",
            trigger: "blur",
          },
        ],
        translation: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            max: 100,
            message: "no puede superar los 100 caracteres",
            trigger: "blur",
          },
        ],
        lexical_translation: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            max: 300,
            message: "no puede superar los 300 caracteres",
            trigger: "blur",
          },
        ],
        observations: [
          {
            required: true,
            message: "campo obligatorio",
            trigger: "blur",
          },
          {
            min: 5,
            max: 300,
            message: "las observaciones debe tener entre 5 a 300 caracteres",
            trigger: "blur",
          },
        ],
      },
      listTribe: [],
      listWord_type: [],
      labelPosition: "right",
      option: "Crear",
    };
  },
  methods: {
    submitForm: async function (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.word.user_responsible = jwt_decode(
            this.token
          ).user_id.toString();
          this.option == "Crear" ? this.createNewWord() : this.UpdateWord();
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    closeModal: function () {
      this.$emit("hidenModalWord");
    },

    createNewWord: async function () {
      await axios
        .post(`https://app4p51.herokuapp.com/word/create/`, this.word, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          const alertData = {
            type: "succcess",
            description: "la palabra se creó con éxito",
          };
          this.$emit("createUserComplete", alertData);
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No se ha podido crear la palabra",
          };
          this.$emit("createUserComplete", alertData);
        });
    },
    findWord: async function () {
      await axios
        .get(`https://app4p51.herokuapp.com/word/list/${this.idWord}`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
            this.word.id = result.data.id.toString();
              this.word.tribe = result.data.tribe.id.toString();
              this.word.Word = result.data.Word.toString();
              this.word.word_type = result.data.word_type.id.toString();
              this.word.morfo = result.data.morfo.toString();
              this.word.morfema = result.data.morfema.toString();
              this.word.translation = result.data.translation.toString();
              this.word.lexical_translation = result.data.lexical_translation.toString();
              this.word.observations = result.data.observations.toString();

        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "Error encontrando la palabra",
          };
          this.$emit("createUserComplete", alertData);
        });
    },
    UpdateWord: async function () {
      await axios
        .put(
          `https://app4p51.herokuapp.com/word/update/${this.idWord}`,
          this.word,
          {
            headers: { Authorization: `Bearer ${this.token}` },
          }
        )
        .then((result) => {
          const alertData = {
            type: "success",
            description: "Palabra modificada",
          };
          this.$emit("createUserComplete", alertData);
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "Error encontrando la palabra",
          };
          this.$emit("createUserComplete", alertData);
        });
    },
    getAllTribes: async function () {
      await axios
        .get(`https://app4p51.herokuapp.com/tribe/list/`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          this.listTribe = result.data;
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No se ha podido cargar ninguna tribu",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },
    gerAllTypeWord: async function () {
      await axios
        .get(`https://app4p51.herokuapp.com/wordType/list/`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          this.listWord_type = result.data;
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No se ha podido cargar ningun tipo de palabra",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },
  },
  created: function () {
    this.$emit("refreshLocalToken");
    this.getAllTribes();
    this.gerAllTypeWord();

    if (this.idWord != "0") {
      this.findWord();
      this.option = "modificar";
    }
  },
};
</script>

<style >
.close-model {
  text-align: end;
  font-size: 15px;
}
</style>