<template>
  <el-scrollbar>
    <div id="modalWord">
      <el-popover
        v-model:visible="renderComponent"
        placement="bottom"
        :width="700"
        trigger="manual"
      >
        <template #reference>
          <div class="button-class">
            <div>
              <el-button type="primary" plain v-on:click="showModalWord()">
                <icon :icon="['fas', 'plus-circle']" /> Crear</el-button
              >
            </div>
          </div>
        </template>
        <create-word
          v-if="renderComponent"
          :idWord="idWord"
          @createUserComplete="createUserComplete"
          @hidenModalWord="hidenModalWord"
        ></create-word>
      </el-popover>
    </div>
    <el-table
      class="table-highlight-title"
      :data="
        tableData.filter(
          (data) =>
            !search || data.Word.toLowerCase().includes(search.toLowerCase())
        )
      "
      >{{ tableData }}
      <el-table-column fixed label="Palabra" prop="Word" />
      <el-table-column label="Tribu" prop="tribe.name" />
      <el-table-column label="Tipo" prop="word_type.name" />
      <el-table-column label="Morfo" prop="morfo" />
      <el-table-column label="Morfema" prop="morfema" />
      <el-table-column label="Traducción" prop="translation" />
      <el-table-column label="Traducción léxica" prop="lexical_translation" />
      <el-table-column label="Observaciones" prop="observations" />
      <el-table-column fixed="right" label="Acciones" align="left">
         <template #header>
          <el-input v-model="search" size="mini" placeholder="Type to search" />
        </template>
        <template #default="scope">
          <span>
            <el-button type="primary" circle @click="updateWord(scope.row)"
            ><icon :icon="['fas', 'edit']"
          />
          </el-button>
          </span>
          <span>
          <el-button
            type="danger"
            circle
            @click="confirmDelete(scope.$index, tableData)"
          >
            <icon :icon="['fas', 'trash-alt']" />
          </el-button>
          </span>
        </template>
      </el-table-column>
    </el-table>
  </el-scrollbar>
</template>

<script>
import createWord from "./createWord.vue";
import axios from "axios";
import { ElMessageBox, ElMessage } from "element-plus";
export default {
  name: "wordContent",

  data: function () {
    return {
      tableData: [],
      search: "",
      renderComponent: false,
      idWord: "0",
      token: ""
    };
  },

  components: {
    createWord: createWord,
  },

  methods: {
    listAllWords: async function () {
      this.tableData = [];
      await axios
        .get(`https://app4p51.herokuapp.com/word/list/`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          result.data.forEach((element) => {
            this.tableData.push(element);
          });
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No pudo cargar ninguna palabra",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },

    refreshLocalToken: async function () {
      this.$emit("refreshToken");
    },
    createUserComplete: function (alert) {
      this.showMessageAlert(alert);
      this.listAllWords();
      this.hidenModalWord();
    },
    updateWord: async function (row) {
      this.idWord = row.id.toString();
      this.renderComponent = true;
    },
    hidenModalWord: function () {
      this.renderComponent = false;
      this.idWord = "0"
    },
    showModalWord: function () {
      this.renderComponent = true;
      this.refreshLocalToken();
    },
    showMessageAlert(alert) {
      if (alert.type == "error") {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "error",
        });
      } else {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "success",
        });
      }
    },
    confirmDelete: function (register, table) {
      console.log(register, table);
      ElMessageBox.confirm("¿Desea eliminar la palabra?", "Eliminar registro", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        type: "error",
      }).then(() => {
        this.DeleteWord(register, table );
        
      });
    },
    DeleteWord: async function (register, table) {
      await axios
        .delete(`https://app4p51.herokuapp.com/word/delete/${table[register].id}`, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((result) => {
          const alertData = {
            type: "success",
            description: "palabra eliminada",
          };
          this.showMessageAlert(alertData);
          table.splice(register, 1);
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No pude eleminar la palabra",
          };
          this.showMessageAlert(alertData);
        });
    },
  },

  created: async function () {
    this.refreshLocalToken();
    this.token = localStorage.getItem("token_access");
    this.listAllWords();
  },
};
</script>

<style>
.el-col {
  border-radius: 4px;
}

.bg-purple {
  background: #dae0e6;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
  height: 100%;
  padding: 1%;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}
.separeted-colums {
  padding: 2%;
}
.button-class {
  text-align: end;
  padding-bottom: 0.5%;
  display: inline;
}

</style>