<template>
  <el-scrollbar height="800px">
    <div class="separeted-colums">
      <el-row>
        <el-col :sm="24" :md="24" :lg="4" :xl="4">
          <menuLateral
            @showComponentSelected="showComponentSelected"
          ></menuLateral>
        </el-col>
        <el-col :sm="24" :md="24" :lg="20" :xl="20">
          <div class="grid-content bg-purple">
            <div v-if="path == 1">
              <wordIndex></wordIndex>
            </div>
            <div v-if="path == 2">
              <languageIndex></languageIndex>
            </div>
            <div v-if="path == 3">
              <tribeIndex></tribeIndex>
            </div>
            <div v-if="path == 4">
              <wordTypeIndex></wordTypeIndex>
            </div>
            <div v-if="path == 5">
              <userIndex></userIndex>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </el-scrollbar>
</template>

<script>
import menuLateral from "./menuLateral.vue";
import wordIndex from "../components/word/wordContent.vue";
import languageIndex from "../components/language/languageContent.vue";
import tribeIndex from "../components/tribes/tribeContent.vue";
import userIndex from "../components/user/userContent.vue";
import wordTypeIndex from "../components/wordType/wordTypeContent.vue";

export default {
  name: "home",

  data: function () {
    return {
      path: 0,
    };
  },

  components: {
    menuLateral: menuLateral,
    wordIndex: wordIndex,
    languageIndex: languageIndex,
    tribeIndex: tribeIndex,
    userIndex: userIndex,
    wordTypeIndex: wordTypeIndex,
  },

  methods: {
    showMessageAlert(alert) {
      if (alert.type == "error") {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "error",
        });
      } else {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "success",
        });
      }
    },
    showComponentSelected(path) {
      this.path = path;
    },
  },

  created: async function () {
    this.$emit("refreshToken");
  },
};
</script>

<style>
</style>