<template>
  <div class="menuLateral">
    <el-menu>
      <el-menu-item index="1" v-on:click="redirect(1)">
        <icon :icon="['fas', 'list']" />
        <span> palabras</span>
      </el-menu-item>
      <el-menu-item index="2" v-on:click="redirect(2)">
        <icon :icon="['fas', 'language']" />
        <span> lenguas</span>
      </el-menu-item>
      <el-menu-item index="3" v-on:click="redirect(3)">
        <icon :icon="['fas', 'users']" />
        <span> tribus</span>
      </el-menu-item>
      <el-menu-item index="4" v-on:click="redirect(4)">
        <icon :icon="['fas', 'list-alt']" />
        <span> Tipo de palabras</span>
      </el-menu-item>
      <el-menu-item index="5" v-on:click="redirect(5)">
        <icon :icon="['fas', 'users-cog']" />
        <span> usuarios</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: "menuLateral",

  data: function () {
    return {};
  },

  components: {},

  methods: {
    redirect: function (path) {
      this.$emit("showComponentSelected", path);
    },
  },
  created: function () {},
};
</script>

<style>
.menuLateral > ul > li {
  font-size: 20px;
  width: 100%;
}

.el-menu{
  width: 100;
}

</style>