<template>
  <el-row class="separed-columns">
    <el-col :span="24">
      <el-scrollbar height="700px">
        <el-tabs type="border-card">
          <el-tab-pane v-for="item in tribeList" :key="item.id">
            <template #label>
              <span v-on:click="clearTable()">
                <icon :icon="['fas', 'users']" />
                {{ item.name }}</span
              >
            </template>
            <el-row>
              <el-col :span="24">
                <div class=" content-tab">
                  <el-row :gutter="20">
                    <el-col :span="16">
                      <div class="">
                        <div>
                          <span class="sub-title">
                            <strong>Otros Nombres</strong></span
                          >
                          <p>
                            {{ item.alternative_names }}
                          </p>
                          <span class="sub-title">
                            <strong>Ubicación Geográfica</strong>
                          </span>
                          <p>
                            {{ item.ubication }}
                          </p>
                          <span class="sub-title">
                            <strong>Lengua</strong></span
                          >
                          <p>
                            {{ item.language.name }}
                          </p>
                          <p>
                            <strong> Descripción: </strong>
                            {{ item.language.description }}
                          </p>
                          <p>
                            <strong> Numero de hablantes: </strong>
                            {{ item.language.numberSpeaker }}
                          </p>
                          <el-button v-on:click="showWords(item.id)"
                            >Palabras</el-button
                          >
                          <el-button v-on:click="showLanguage(item.id)"
                            >Lenguas</el-button
                          >
                        </div>
                      </div>
                    </el-col>
                    <el-col :span="8">
                      <div class="block-image">
                        <el-image
                          :src="item.image"
                          :alt="item.name + ' Picture '"
                        ></el-image>
                      </div>
                    </el-col>
                    <el-col
                      :span="24"
                      class="separeted-columns"
                      v-if="IsShowWords"
                    >
                      <el-table
                        class="table-highlight-title"
                        :data="
                          tableData.filter(
                            (data) =>
                              !search ||
                              data.Word.toLowerCase().includes(
                                search.toLowerCase()
                              )
                          )
                        "
                      >
                        <el-table-column label="Palabra" prop="Word" />
                        <el-table-column label="Tipo" prop="word_type.name" />
                        <el-table-column label="Morfo" prop="morfo" />
                        <el-table-column label="Morfema" prop="morfema" />
                        <el-table-column
                          label="Traducción"
                          prop="translation"
                        />
                        <el-table-column
                          label="Traducción léxica"
                          prop="lexical_translation"
                        />
                        <el-table-column
                          label="Observaciones"
                          prop="observations"
                        >
                        <template #header>
                            <el-input
                              v-model="search"
                              size="mini"
                              placeholder="Type to search"
                            />
                          </template>
                        </el-table-column>
                      </el-table>
                    </el-col>

                    <el-col
                      :span="24"
                      class="separeted-columns"
                      v-if="IsShowLanguage"
                    >
                      <el-table
                        class="table-highlight-title"
                        :data="
                          tableData.filter(
                            (data) =>
                              !search ||
                              data.Language.toLowerCase().includes(
                                search.toLowerCase()
                              )
                          )
                        "
                      >
                        <el-table-column label="Palabra" prop="Word" />
                        <el-table-column label="Tipo" prop="word_type.name" />
                        <el-table-column label="Morfo" prop="morfo" />
                      </el-table>
                    </el-col>
                  </el-row>
                </div>
              </el-col>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-scrollbar>
    </el-col>
  </el-row>
</template>

<script>
import axios from "axios";
export default {
  name: "publicTribe",

  data: function () {
    return {
      is_auth: false,
      tribeList: [],
      IsShowWords: false,
      tableData: [],
      search: "",
    };
  },

  components: {},

  methods: {
    callAllTribes: async function () {
      await axios
        .get(`https://app4p51.herokuapp.com/tribe/list/`, {
          headers: {},
        })
        .then((result) => {
          result.data.forEach((element) => {
            this.tribeList.push(element);
          });
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No se ha podido cargar ninguna tribu",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },
    showWords: async function (idTribe) {    
      this.tableData = [];
      await axios
        .get(`https://app4p51.herokuapp.com/word/tribe/${idTribe}`, {
          headers: {},
        })
        .then((result) => {
          result.data.forEach((element) => {
            this.tableData.push(element);
          });
          this.IsShowWords = true;
        })
        .catch((error) => {
          const alertData = {
            type: "error",
            description: "No se ha podido cargar ninguna palabra",
          };
          this.$emit("showMessageAlert", alertData);
        });
    },
    clearTable: async function () {
      (this.tableData = []), (this.IsShowWords = false), (this.search = "");
    },
  },

  created: async function () {
    this.callAllTribes();
  },
};
</script>
<style >

.content-tab {
  padding: 1em;
  font-size: 16px;
  background-color: #d3dce6 !important;
  border-radius: 5px;
  
}

.block-image {
  height: 100%;
}

.block-image > .el-image {
  height: 100%;
  width: 100%;
}

.separeted-columns {
  margin: 2% 0% ;
  padding-bottom: 0% !important;
}

.sub-title,
.el-tabs__item > span {
  font-size: 18px;
}

.grid-content {

}
th,
td {
  font-size: 16px;
}
</style>
