<template>
  <div id="app" class="app">
    <el-container>
      <el-header>
        <el-row>
          <el-col :xs="24" :sm="24" :md="24" :lg="18" :xl="18">
            <span class="title">
              <el-link :underline="false" v-on:click="index()"
                ><strong> Diccionario pueblos indigenas</strong></el-link
              ></span
            >
          </el-col>
          <el-col :xs="24" :sm="24" :md="24" :lg="6" :xl="6">
            <div v-if="is_auth">
              <el-button
                type="primary"
                plain
                v-on:click="verifyAuth"
              >
                <icon :icon="['fas', 'home']" /> Home
              </el-button>
              <el-button
                type="primary"
                plain
                v-if="is_auth"
                v-on:click="logOut"
              >
                <icon :icon="['fas', 'sign-out-alt']" /> Cerrar Sesion
              </el-button>
            </div>
            <div v-else>
              <el-button
                type="primary"
                plain
                v-on:click="loadLogIn"
              >
                <icon :icon="['fas', 'sign-in-alt']" /> Iniciar Sesion
              </el-button>
            </div>
          </el-col>
        </el-row>
      </el-header>
      <el-main>
        <router-view
          v-on:completedLogIn="completedLogIn"
          v-on:showMessageAlert="showMessageAlert"
          v-on:refreshToken="refreshToken"
        >
        </router-view>
      </el-main>
      <el-footer>
        <span>
          <icon :icon="['fas', 'address-book']" /> Grupo: 4 - Ciclo: 3 - Clase: P51
          <icon :icon="['fas', 'address-book']" /> Integrantes: Martha Alba, Alexander Cuellar, Abert Montaña, Jairo Tapia, Miguel Diaz
          <icon :icon="['fas', 'envelope']" /> grupo4_P51@gmail.com
        </span>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import axios from "axios";
import { ElMessage } from "element-plus";

export default {
  name: "App",

  data: function () {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: async function () {
      this.is_auth = localStorage.getItem("isAuth") || false;
      if (this.is_auth == false) {
        this.$router.push({ name: "publicTribe" });
      } else this.$router.push({ name: "home" });
    },
    showMessageAlert(alert) {
      if (alert.type == "error") {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "error",
        });
      } else {
        ElMessage({
          showClose: true,
          message: alert.description,
          type: "success",
        });
      }
    },
    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },
    completedLogIn: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      this.verifyAuth();
    },
    logOut: async function () {
      localStorage.clear();
      this.verifyAuth();
    },

    refreshToken: function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      )
        return this.logOut();

      this.is_auth = localStorage.getItem("isAuth") || false;

      return axios
        .post(
          `https://app4p51.herokuapp.com/refresh/`,
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.logOut();
        });
    },
    index: function () {
      this.$router.push({ name: "publicTribe" });
    },
  },

  Created: function () {
    this.verifyAuth();
  },
};
</script>
<style>


.el-header,
.el-footer {
  background-color: #b3c0d1;
  color: var( --el-color-primary);
  text-align: center;
  padding: 0.5em 0.5em !important;
  
}
.el-header{
  padding: 0.5em 0 !important;
  height: 12% !important;
}

.el-aside {
  background-color: #d3dce6;
  color: var(--el-text-color-primary);
  text-align: center;
  line-height: 200px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.title > a > span > strong {
  font-size: 25px;
  display: block;
  text-align: left;
}


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: start !important;
  color: black !important;
  z-index: 100;
  height: 2.5em  !important;
}

</style>
